<div class="card my-4">
    <img class="card-img-top d-none" src="http://placehold.it/750x300" alt="Card image cap">
    <div class="card-body">
      <h2 class="card-title">{{ title }}</h2>
      <p class="card-text">{{ time }}</p>
      <a href="/articles/{{ id }}/" class="btn btn-primary">See more →</a>
    </div>
</div>